<div class="list">
  <h2>Pokémon List (page {{ page }})</h2>


  <div class="search-box">
    <input
      type="text"
      placeholder="Buscar Pokémon..."
      [(ngModel)]="searchTerm"
      (input)="filterPokemons()"
    />

  
    <ul *ngIf="filteredPokemons.length && searchTerm" class="suggestions">
      <li *ngFor="let p of filteredPokemons" (click)="selectPokemon(p.name)">
        {{ p.name | titlecase }}
      </li>
    </ul>
  </div>


  <ul class="grid">
    <li *ngFor="let p of pokemons" (click)="selectPokemon(p.name)">
      {{ p.name | titlecase }}
    </li>
  </ul>

  
  <div class="pagination">
    <button (click)="loadPage(page - 1)" [disabled]="page <= 1">Prev</button>
    <button (click)="loadPage(page + 1)">Next</button>
  </div>

 
  <app-pokemon-detail *ngIf="selectedPokemon" [pokemonName]="selectedPokemon"></app-pokemon-detail>
</div>
